canvas {
	border: solid 1px green;
}
.debug_info {
	border: solid 1px gray;
  margin: 10px 0;
  padding: 0 10px;
  max-height:100px;
  width:380px;
  overflow:auto;
}
.debug_info p{
  margin:0;
  padding:0;
}
.demo {
	float:left;
	margin-right:10px;
	border: solid 1px green;
}
