fieldset.Login {
    font-size:28px;
}
fieldset.Login input {
    font-size:18px;
    height:28px;
}
fieldset.Login button {
    font-size:18px;
    height:28px;
}
fieldset.Ocean div.create pre:hover {
    background-color:red;
}
fieldset.Ocean div.create pre:hover {
    background-color:red;
}

fieldset.River {
    float:left;
}
fieldset.Target div.output div.item:hover {
    background-color:lightgreen;
}
fieldset.Target>div.output>div.item {
    padding-top:6px;
    clear:both;
}
fieldset.Target>div.output>div.item>div.text {
    padding:6px;
    float:left;
}
fieldset.Target>div.output>div.item>div.user {
    border-right:solid 1px green;
    border-bottom:solid 1px green;
    float:left;
    padding:6px;
}
fieldset.Source div.output {
    padding:0;
}
fieldset.Action div.output div.item:hover {
    background-color:lightblue;
}
fieldset.Storm {
    float:right;
}

fieldset.Steam table.device {
    padding:10px;
    border:solid 1px green;
    margin-left:10px;
    float:left;
}
fieldset.Steam div.output tr.select {
    background-color:red;
}
fieldset.Steam div.create {
    /* clear:both; */
}
fieldset.Steam div.create pre:hover {
    background-color:red;
}

fieldset div.output {
    clear:both;
    max-height:800px;
}
