fieldset {
    margin-top:8px;
}
fieldset legend {
    font-size:16px;
    font-weight:bold;
    font-family:monospace;
}
fieldset form.option div {
    float:left;
}
fieldset form.option input {
    margin-right:10px;
}
fieldset form.option select {
    margin-right:10px;
}
fieldset form.option hr {
    clear:both;
}

fieldset table.append {
    font-size:14px;
    overflow: auto;
}
fieldset table.append tr:hover {
    background-color:lightgreen;
}
fieldset table.append th {
    font-family:monospace;
    background-color:lightgreen;
    cursor:pointer;
}
fieldset table.append th.order {
    background-color:red;
    cursor:pointer;
}
fieldset table.append td {
    max-width:1200px;
    font-family:monospace;
    padding-left: 10px;
    padding-right: 20px;
}
fieldset table.append td.clip {
    background-color:red;
}
fieldset table.append td:hover {
    background-color:red;
}
fieldset code.result pre {
    color:white;
    font-size:14px;
    background-color:#272822;
    overflow:scroll;
    padding:5px;
    border:solid 2px green;
    border-left:solid 4px green;
    margin:0;
}
fieldset code.result pre.clipboard {
    height:2em;
}

fieldset.flasktext {
}

fieldset.flasklist div.detail {
    border:ridge 2px green;
    border-bottom:0px;
    margin-top:20px;
    padding:5px;
}
fieldset.flasklist div.action {
    border:ridge 2px green;
    border-top:0px;
    border-bottom:0px;
}
fieldset.flasklist code.output pre {
    border:ridge 2px green;
    margin:0px;
    padding:5px;
    border-top: 0px;
}


textarea.clipboard {
    color:white;
    background-color:#272822;
    width:600px;
}

form.option label.keymap {
    color:red;
    display:none;
}
form.option label.keymap.show {
    display:inline;
}
form.option input.cmd {
    color:white;
    background-color:#272822;
    padding-left:10px;
    width:600px;
}
form.option input.file_cmd {
    color:white;
    background-color:#272822;
    padding-left:10px;
    width:400px;
}
form.option input.file_name {
    width:200px;
}
form.option.exec input {
    color:white;
    background-color:#272822;
    padding-left:10px;
    width:600px;
}
