/* ----- common ----- */
    fieldset {
        margin-top:8px;
    }
    fieldset legend {
        font-size:16px;
        font-weight:bold;
        font-family:monospace;
    }
    fieldset form.option div {
        float:left;
    }
    fieldset form.option input {
        margin-right:10px;
    }
    fieldset form.option input.cmd {
        color:white;
        background-color:#272822;
        padding-left:10px;
        width:600px;
    }
    fieldset form.option select {
        margin-right:10px;
    }
    fieldset form.option hr {
        clear:both;
    }

    fieldset code.result pre.clipboard {
        height:2em;
    }
/* ----- FlashList ----- */
    fieldset.FlashList {
    }

    fieldset.FlashList div.detail {
        border:ridge 2px green;
        border-bottom:0px;
        margin-top:20px;
        padding:5px;
    }
    fieldset.FlashList div.action {
        border:ridge 2px green;
        border-top:0px;
        border-bottom:0px;
    }
    fieldset.FlashList code.output pre {
        border:ridge 2px green;
        margin:0px;
        padding:5px;
        border-top: 0px;
    }
/* ----- KitList ----- */
    fieldset.KitList {
        color:#e6dd37;
        font-size:14px;
        font-family:monospace;
        background-color:#498bb1a8;
        border:solid 3px red;
        width:60px;
        height:20px;
        overflow:scroll;
        position:fixed;
    }
    fieldset.KitList div:hover, fieldset.KitList li li:hover {
        background-color:red;
    }
    fieldset.KitList div.stick, fieldset.KitList li li.stick {
        background-color:red;
    }
    fieldset.KitList li>label.result{
        background-color:rgba(0,0,0,0.2);
        padding:0 5px;
        border:2px solid green;
        margin-left: 10px;
    }
    fieldset.KitList li>input {
        background-color:rgba(0,0,0,0.2);
    }
/* ----- ScheduleList ----- */
    fieldset.ScheduleList table.append td {
        max-width:240px;
        min-width:100px;
    }

