html, body {
    background-color:#d8d8d8;
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
}
fieldset {
    position:relative;
    background-color:#d8d8d8;
    padding:0px;
    min-width:10px;
    overflow:auto;
    margin:0px;
}
legend {
    margin-left:10px;
}

.hidden {
    display:none;
}
.normal {
}
.choice {
}
.select {
}

fieldset>form.option {
    padding:0 5px;
    margin-right:3px;
    float:left;
}
fieldset>form.option div {
    margin-right:3px;
    float:left;
}
fieldset>form.option div.hide {
    display:none;
}
fieldset>form.option div.clear {
    clear:both;
}
fieldset>form.option label {
    margin-right:3px;
}
fieldset>form.option input.args.cmd {
    color:white;
    background-color: black;
    width:160px;
}
fieldset>form.option input.args.char {
    width:20px;
}
fieldset>form.option input.args.tiny {
    width:40px;
}
fieldset>form.option input.args {
    width:80px;
}
fieldset>form.option input.args.long {
    width:240px;
}
fieldset>form.option input.args.full {
    width:480px;
}
fieldset>form.option div.item.textarea {
    float:left;
    clear:both;
}
fieldset>div.action {
    padding:6px;
}
fieldset>div.action div.space {
    display:inline-block;
    width:10px;
}
fieldset>div.output {
    clear:both;
    /* max-height:800px; */
    padding:5px;
}
fieldset>div.output div.item {
    padding:2px;
}
fieldset>div.output div.item:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}
fieldset>div.output div.item.select {
    background-color:red;
    border:ridge 2px yellow;
}
fieldset>div.output div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
fieldset>div.output div.code span.red {
    color:red;
}
fieldset>div.output div.code span.green {
    color:green;
}
fieldset>div.output table td {
    /* word-break:break-word; */
}
fieldset>div.output table td.when {
    /* word-break:break-word; */
	text-align:center;
}
fieldset>div.output table.edit {
}
fieldset>div.output table.edit td {
    min-width:4px;
    padding:0px;
}
fieldset>div.output table.edit td>input {
    width:600px;
    padding:0px;
}
fieldset>div.output table.edit {
}
fieldset>div.Help {
    position:absolute;
    width:calc(100% - 4px);
    height:calc(100% - 4px);
    left:0px;
    top:0px;
}
fieldset>div.Help>div {
    color:blue;
    opacity:0.7;
    background-color:cyan;
    border:solid 2px red;
    overflow:auto;
}

fieldset.dialog {
    background-color:lightgray;
    padding:10px;
    display:none;
    position:absolute;
    z-index:10;
}
fieldset.dialog>div.output {
    padding:10px;
    float:left;
}
fieldset.dialog>div.output table th {
    min-width:130px;
}
fieldset.dialog>div.output table td {
    min-width:100px;
}
fieldset.dialog>div.create {
    padding:10px;
    border:solid 1px red;
    margin-left:10px;
    float:left;
}
fieldset.dialog>div.create table {
    min-width:240px;
}

fieldset.dialog.Favor {
    border:solid 2px red;
    background-color:rgba(100,100,100,0.8);
    position:absolute;
    display:none;
    z-index:100;
}
fieldset.dialog.Favor input.cmd {
    color:white;
    font-size:16px;
    font-weight:bold;
    font-family:monospace;
    background-color:black;
    width:388px;
}

fieldset.dialog.Toast {
    border:solid 2px red;
    background-color:#ffffff;
    position:absolute;
    display:none;
    z-index:100;
}
fieldset.dialog.Toast>div.action {
    padding:0 0px;
}
fieldset.dialog.Toast>div.output {
    padding:0 10px;
    text-align:center;
}
fieldset.dialog.Toast>div.output>div.title {
    font-size:12px;
    text-align:center;
    color:gray;
}
fieldset.dialog.Toast>div.output>div.content  {
    word-break:break-word;
    white-space:pre-wrap;
    text-align:center;
    margin:0px;
    padding:2px;
    font-size:16px;
}
fieldset.dialog.Toast>div.output>div.tick {
    font-size:12px;
    color:gray;
}
fieldset.dialog.Carte {
    padding:0;
    border:solid 2px red;
    background-color:greenyellow;
    position:absolute;
    display:none;
    z-index:200;
}
fieldset.dialog.Carte>div.action {
    padding:0;
}
fieldset.dialog.Carte>div.output {
    padding:0;
}
fieldset.dialog.Carte>div.output button {
    display:block;
}
fieldset.dialog.Carte>div.output select {
    display:block;
}
fieldset.dialog.Carte>div.output div.layout>div {
    float:left;
}
fieldset.dialog.Carte>div.output div.item {
    padding:0px 6px;
}
fieldset.dialog.Carte>div.output div.space {
    border:solid 1px gray;
    margin-top:8px;
    clear:both;
}
fieldset.dialog.Debug {
    opacity:0.8;
}
fieldset.dialog.Debug tr.hide {
    display:none;
}
fieldset.dialog.Debug tr.event {
    background-color:red;
}
fieldset.dialog.Debug tr.run {
    background-color:lightgreen;
}
fieldset.dialog.Debug tr.wss {
    background-color:lightblue;
}
fieldset.dialog.Debug tr.key {
    background-color:lightyellow;
}
fieldset.dialog.Debug>div.output {
    overflow:auto;
    margin-top:50px;
}
fieldset.dialog.Debug>div.output table caption {
    position:absolute;
    top:50px;
    left:20px;
}
fieldset.dialog.Debug>div.output table thead {
    position:absolute;
    top:72px;
    left:18px;
}
fieldset.dialog.Debug>div.output table thead th {
    border:solid 1px red;
}
fieldset.dialog.Debug>div.output table caption>span {
    margin-right:4px;
}
fieldset.dialog.Debug>div.output table caption>span:hover {
    cursor:pointer;
    background-color:red;
}
fieldset.dialog.Debug>div.output table th {
    min-width:60px;
}
fieldset.dialog.Debug>div.output table td {
    min-width:60px;
}

fieldset.Login {
    font-size:28px;
    z-index:20;
}
fieldset.Login>form.option input {
    font-size:18px;
    height:28px;
}
fieldset.Login>form.option button {
    font-size:18px;
    height:28px;
}
fieldset.Header {
    height:32px;
    min-width:640px;
    clear:both;
}
fieldset.Header>div.action {
    padding:0;
}
fieldset.Header>div.output>div.title {
    cursor:pointer;
    float:left;
}
fieldset.Header>div.output>div.title:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}
fieldset.Header>div.output>div.state {
    float:right;
}
fieldset.Header>div.output>div.state div.item {
    padding:0;
}
fieldset.Header>div.output>div.state>div {
    cursor:pointer;
    margin-left:5px;
    float:right;
}
fieldset.Header>div.output>div.state>div:hover {
    background-color:red;
}
fieldset.Footer {
    clear:both;
    overflow:hidden;
    height:32px;
}
fieldset.Footer>div.action {
    padding:0;
}
fieldset.Footer>div.output div.title {
    float:left;
}
fieldset.Footer>div.output div.magic {
    float:right;
    margin-top:-6px;
}
fieldset.Footer>div.output div.magic>label {
    margin-right:2px;
}
fieldset.Footer>div.output div.magic>input {
    background-color:black;
    color:lightgreen;;
}
fieldset.Footer>div.output div.state {
    float:right;
}
fieldset.Footer>div.output div.state div {
    float:right;
}

fieldset.item {
    float:left;
}
fieldset.item:hover {
    background-color:gold;
    border:ridge 2px red;
}
fieldset.item.select {
    background-color:gold;
    border:ridge 2px red;
}
fieldset.item>form.option>div.item {
    padding:0;
    border:0;
}
fieldset.item>form.option>div.item:hover {
    border:0;
}
fieldset.item>form.option>div.item.select {
    border:0;
}
fieldset.item>div.output {
    overflow:auto;
}
fieldset.item>div.output>canvas {
    background-color:#8dd09e;
}
fieldset.item>div.output>div.action>button.trap {
    background-color:lightblue;
    border:2px blue solid;
}
fieldset.item>div.output>div.action>div.space {
    width:10px;
    display:inline-block;
}
fieldset.item>div.output>div.status>div {
    float:left;
    height:20px;
    border:1px solid black;
}
fieldset.item>div.output>div.status>input.cmd {
    float:left;
    background-color:black;
    color:lightgreen;;
    font-size:16px;
    width:250px;
}

fieldset table {
    font-size:14px;
    overflow: auto;
    border:solid 1px green;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tbody {
    overflow:auto;
}
fieldset table tr:hover {
    background-color:lightgreen;
}
fieldset table tr.select {
    background-color:lightgreen;
}
fieldset table th {
    font-family:monospace;
    background-color:lightgreen;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table th.order {
    background-color:red;
    cursor:pointer;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    /* white-space: pre; */
}
fieldset table td.clip {
    background-color:red;
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}
fieldset pre code, fieldset code pre {
    color:white;
    font-size:14px;
    background-color:#272822;
    overflow:auto;
    padding:5px;
    border:solid 2px green;
    border-left:solid 4px green;
    display:block;
}

fieldset.item>div.output>code.div {
}

fieldset.item>div.output>div.code div.number {
    float:left;
}

fieldset ul.story li:hover {
    background-color:red;
}
fieldset div.output div.story {
    font-family:monospace;
    font-size:16px;
    white-space:pre;
    padding:16px;
    border:solid 2px green;
}

fieldset.item div.output div.story.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
