html, body, fieldset {
    background-color:#d8d8d8;
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
}
fieldset {
    min-width:160px;
    overflow:auto;
}
legend {
    margin-left:10px;
}
fieldset div.output {
    padding:6px;
}
fieldset form.option label {
    margin-right:6px;
}
fieldset form.option div {
    margin-right:6px;
    float:left;
}
fieldset div.output div.item:hover {
    background-color:red;
}
fieldset div.output div.item.select {
    background-color:red;
}

fieldset.toast {
    background-color:#ffffff00;
    position:absolute;
    display:none;
}
fieldset.toast div.output {
    padding:0 10px;
}
fieldset.toast div.output pre {
    word-break:break-word;
    white-space:pre-wrap;
    text-align:center;
    margin:0px;
}
fieldset.dialog {
    background-color:lightgray;
    padding:10px;
    display:none;
    position:absolute;
}
fieldset.dialog div.output {
    padding:10px;
    float:left;
}
fieldset.dialog div.output table th {
    min-width:130px;
}
fieldset.dialog div.output table td {
    min-width:100px;
}
fieldset.dialog div.create {
    padding:10px;
    border:solid 1px red;
    margin-left:10px;
    float:left;
}
fieldset.Header div.output div.title {
    float:left;
}
fieldset.Header div.output div.state {
    float:right;
}
fieldset.Header div.output div.state div {
    margin-left:5px;
    float:right;
    cursor:pointer;
}
fieldset.Footer {
    clear:both;
}
fieldset.Footer div.output div.title {
    float:left;
}
fieldset.Footer div.output div.state {
    float:right;
}
fieldset.Footer div.output div.state div {
    margin-left:5px;
    float:right;
}

.hidden {
    display:none;
}
.normal {
}

fieldset table {
    font-size:14px;
    overflow: auto;
    border:solid 1px green;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tr:hover {
    background-color:lightgreen;
}
fieldset table th {
    font-family:monospace;
    background-color:lightgreen;
    cursor:pointer;
}
fieldset table th.order {
    background-color:red;
    cursor:pointer;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding-left: 10px;
    padding-right: 20px;
}
fieldset table td.clip {
    background-color:red;
}
fieldset table td:hover {
    background-color:red;
}

fieldset pre code, fieldset code pre {
    color:white;
    font-size:14px;
    background-color:#272822;
    overflow:scroll;
    padding:5px;
    border:solid 2px green;
    border-left:solid 4px green;
    display:block;
}

fieldset.Banner>ul {
    margin:0;
    padding:0;
}
fieldset.Banner>ul>li {
    display:inline;
    padding:5px;
    margin:0;
}
fieldset.Banner>ul>li:hover {
    background-color:red;
}
