html, body {
    background-color:#d8d8d8;
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
}
fieldset {
    position:relative;
    background-color:#d8d8d8;
    padding:0px;
    min-width:10px;
    overflow:auto;
    margin:0px;
}
legend {
    margin-left:10px;
}

.hidden {
    display:none;
}
.normal {
}
.choice {
}
.select {
}

fieldset>form.option div {
    margin-right:3px;
    float:left;
}
fieldset>form.option div.hide {
    display:none;
}
fieldset>form.option div.clear {
    clear:both;
}
fieldset>form.option label {
    margin-right:3px;
}
fieldset>form.option div input.args {
    width:80px;
}
fieldset>form.option div.cmd input.args {
    color:white;
    background-color: black;
    width:160px;
}
fieldset>form.option div.tiny input.args {
    width:20px;
}
fieldset>form.option div.long input.args {
    width:240px;
}
fieldset>form.option div.full input.args {
    width:480px;
}
fieldset>div.action {
    padding:6px;
}
fieldset>div.action div.space {
    display:inline-block;
    width:10px;
}
fieldset>div.output {
    clear:both;
    /* max-height:800px; */
    padding:6px;
}
fieldset>div.output div.item:hover {
    background-color:red;
}
fieldset>div.output div.item.select {
    background-color:red;
}
fieldset>div.output div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
fieldset>div.output div.code span.red {
    color:red;
}
fieldset>div.output div.code span.green {
    color:green;
}
fieldset>div.output table td {
    word-break:break-all;
    min-width:40px;
}
fieldset>div.output table td {
    word-break:keep-all;
    min-width:40px;
}
fieldset>div.output table.edit {
}
fieldset>div.output table.edit td {
    min-width:4px;
    padding:0px;
}
fieldset>div.output table.edit td>input {
    width:600px;
    padding:0px;
}
fieldset>div.output table.edit {
}
fieldset>div.Help {
    position:absolute;
    width:calc(100% - 4px);
    height:calc(100% - 4px);
    left:0px;
    top:0px;
}
fieldset>div.Help>div {
    color:blue;
    opacity:0.7;
    background-color:cyan;
    border:solid 2px red;
    overflow:auto;
}

fieldset.toast {
    border:solid 2px red;
    background-color:#ffffff;
    position:absolute;
    display:none;
    z-index:100;
}
fieldset.toast>div.output {
    padding:0 10px;
}
fieldset.toast>div.output>div.title {
    font-size:12px;
}
fieldset.toast>div.output>div.content  {
    word-break:break-word;
    white-space:pre-wrap;
    text-align:center;
    margin:0px;
    padding:2px;
    font-size:16px;
}
fieldset.toast>div.output>div.tick {
    font-size:12px;
}
fieldset.dialog {
    background-color:lightgray;
    padding:10px;
    display:none;
    position:absolute;
    z-index:10;
}
fieldset.dialog>div.output {
    padding:10px;
    float:left;
}
fieldset.dialog>div.output table th {
    min-width:130px;
}
fieldset.dialog>div.output table td {
    min-width:100px;
}
fieldset.dialog>div.create {
    padding:10px;
    border:solid 1px red;
    margin-left:10px;
    float:left;
}
fieldset.dialog>div.create table {
    min-width:240px;
}

fieldset.Login {
    font-size:28px;
    z-index:20;
}
fieldset.Login>form.option input {
    font-size:18px;
    height:28px;
}
fieldset.Login>form.option button {
    font-size:18px;
    height:28px;
}
fieldset.Header {
    height:32px;
    clear:both;
    min-width:640px;
}
fieldset.Header>div.output div.title {
    float:left;
    cursor:pointer;
}
fieldset.Header>div.output div.state {
    float:right;
}
fieldset.Header>div.output div.state div {
    margin-left:5px;
    float:right;
    cursor:pointer;
}
fieldset.Footer {
    clear:both;
    overflow:hidden;
    height:32px;
}
fieldset.Footer>div.output div.title {
    float:left;
}
fieldset.Footer>div.output div.magic {
    float:left;
}
fieldset.Footer>div.output div.magic>input {
    background-color:black;
    color:lightgreen;;
}
fieldset.Footer>div.output div.state {
    float:right;
}
fieldset.Footer>div.output div.state div {
    margin-left:5px;
    float:right;
}

fieldset.item {
    float:left;
}
fieldset.item.select {
    background-color:gold;
    border:solid 2px red;
}
fieldset.item>div.output {
    overflow:auto;
}
fieldset.item>div.output>canvas {
    background-color:#8dd09e;
}
fieldset.item>div.output>div.action>button.trap {
    background-color:lightblue;
    border:2px blue solid;
}
fieldset.item>div.output>div.action>div.space {
    width:10px;
    display:inline-block;
}
fieldset.item>div.output>div.status>div {
    float:left;
    height:20px;
    border:1px solid black;
}
fieldset.item>div.output>div.status>input.cmd {
    float:left;
    background-color:black;
    color:lightgreen;;
    font-size:16px;
    width:250px;
}

fieldset table {
    font-size:14px;
    overflow: auto;
    border:solid 1px green;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tr:hover {
    background-color:lightgreen;
}
fieldset table tr.select {
    background-color:lightgreen;
}
fieldset table th {
    font-family:monospace;
    background-color:lightgreen;
    cursor:pointer;
}
fieldset table th.order {
    background-color:red;
    cursor:pointer;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding-left: 10px;
    padding-right: 20px;
}
fieldset table td.clip {
    background-color:red;
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}
fieldset pre code, fieldset code pre {
    color:white;
    font-size:14px;
    background-color:#272822;
    overflow:auto;
    padding:5px;
    border:solid 2px green;
    border-left:solid 4px green;
    display:block;
}

