fieldset.Tree>div.output li>div:hover {
    background-color:green;
}
fieldset.Tree>div.output>div.tree li {
    display:inline;
}
fieldset.Tree>div.output>div.tree li div {
    float:left;
    padding:5px;
    border:solid 2px green;
}
fieldset.Tree>div.output>div.list {
    clear:both;
    padding-top:5px;
}
fieldset.Tree>div.output>div.list li {
    display:inline;
}
fieldset.Tree>div.output>div.list li div {
    float:left;
    padding:5px;
    border:solid 1px green;
}

fieldset.Text {
    padding:0;
}
fieldset.Text>div.output>div.menu li>div:hover {
    background-color:red;
}
fieldset.Text>div.output>div.text {
    position:relative;
    overflow:auto;
    padding:10px;
}
fieldset.Text>div.output>div.text strong {
    background-color:yellow;
    border-left:solid 2px green;
    border-top:solid 2px green;
    color:red;
}
