fieldset.Tree>div.output>div.gap {
    height:6px;
    clear:both;
}
fieldset.Tree>div.output>div.tree>div {
    border:solid 2px green;
    padding:4px;
    float:left;
}
fieldset.Tree>div.output>div.list>div {
    border:solid 1px green;
    padding:4px;
    float:left;
}

fieldset.Text>div.output>div.menu {
    border-right:solid 1px black;
    padding-right:10px;
    overflow:auto;
}
fieldset.Text>div.output>div.menu.left {
    float:left;
}
fieldset.Text>div.output>div.menu li>div:hover {
    background-color:red;
}
fieldset.Text>div.output>div.text {
    padding:10px;
    overflow:auto;
}
fieldset.Text>div.output>div.text strong {
    background-color:yellow;
    border-left:solid 2px green;
    border-top:solid 2px green;
    color:red;
}

