fieldset.Tree>div.output li>div:hover {
    background-color:green;
}
fieldset.Tree>div.output>div.tree li {
    display:inline;
}
fieldset.Tree>div.output>div.tree li div {
    float:left;
    padding:5px;
    border:solid 1px green;
}
fieldset.Tree>div.output>div.list {
    clear:both;
    padding-top:5px;
}

fieldset.Text>div.output>div.menu li>div:hover {
    background-color:red;
}
fieldset.Text>div.output>div.text {
    position:relative;
}
