{{define "head"}}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
{{range $index, $meta := option . "metas"}}
    <meta name="{{index $meta "name"}}" content="{{index $meta "content"}}">
{{end}}
    <title>{{options . "title"}}</title>

    <link rel="shortcut icon" type="image/ico" href="/static/librarys/{{options . "favicon"}}">
{{range $index, $lib := option . "styles"}}
    <link rel="stylesheet" type="text/css" href="/static/librarys/{{$lib}}">
{{end}}
</head>
<body>
{{end}}

{{define "fieldset"}}
    <fieldset class="{{options . "view"}}" data-init="{{options . "init"}}">
        <form class="option" data-names="{{options . "name"}}" data-group="{{options . "group"}}">
              <input style="display:none">
        </form>
        <div class="action"></div>
        <div class="output"></div>
    </fieldset>
 {{end}}

{{define "tail"}}
{{range $index, $lib := option . "scripts"}}
    <script src="/static/librarys/{{$lib}}"></script>
{{end}}
{{range $index, $lib := conf . "serve" "open"}}
    <script src="{{$lib}}"></script>
{{end}}
</body>
{{end}}

