{{define "head"}}
    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        {{range $index, $meta := option . "metas"}}
            <meta name="{{index $meta "name"}}" content="{{index $meta "content"}}">
        {{end}}

        <title>{{options . "name"}}</title>
        <link rel="shortcut icon" type="image/ico" href="/static/librarys/{{options . "favicon"}}">
        {{range $index, $lib := option . "styles"}}
            <link rel="stylesheet" type="text/css" href="/static/librarys/{{$lib}}"></link>
        {{end}}
    </head>
    <body>
    <fieldset class="toast"><legend></legend>
        <form class="option" data-names="toast"></form>
        <div class="output"></div>
    </fieldset>
{{end}}
{{define "fieldset"}}
    <fieldset class="{{options . "view"}}" data-init="{{options . "init"}}">
        <form class="option" data-names="{{options . "name"}}" data-group="{{options . "group"}}">
              <input style="display:none"></input>
        </form>
        <div class="output"></div>
    </fieldset>
 {{end}}
{{define "tail"}}
    {{range $index, $lib := option . "scripts"}}
        <script src="/static/librarys/{{$lib}}"></script>
    {{end}}
    </body>
{{end}}

