{{define "head"}}
    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        {{range $index, $meta := option . "metas"}}
            <meta name="{{index $meta "name"}}" content="{{index $meta "content"}}">
        {{end}}

        <title>{{options . "componet_name"}}</title>
        <link rel="shortcut icon" type="image/ico" href="/static/librarys/{{options . "favicon"}}">
        {{range $index, $lib := option . "styles"}}
            <link rel="stylesheet" type="text/css" href="/static/librarys/{{$lib}}"></link>
        {{end}}
    </head>
    <body>
    <script>
        var conf = {
            toolkit_view: {{conf . "route" "toolkit_view"}},
            bench_data: {{option . "bench_data"}},
        }
    </script>
{{end}}
{{define "banner"}}
    <fieldset class="{{options . "componet_view"}}" data-init="{{options . "componet_init"}}">
        <ul>{{range $key, $item := conf . "componet"}}<li>{{$key}}</li>{{end}}</ul>
    </fieldset>
{{end}}
{{define "fieldset"}}
    <fieldset class="{{options . "componet_view"}}" data-init="{{options . "componet_init"}}">
        <form class="option {{options . "componet_name"}}"
              data-componet_name="{{options . "componet_name"}}"
              data-componet_group="{{options . "componet_group"}}">
              <input style="display:none"></input>
        </form>
        <div class="output {{options . "componet_name"}}"></div>
    </fieldset>
 {{end}}
{{define "tail"}}
    {{range $index, $lib := option . "scripts"}}
        <script src="/static/librarys/{{$lib}}"></script>
    {{end}}
    </body>
{{end}}


