<style>
div.story.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
</style>
