{{define "head"}}
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<style>
	legend {
		font-size:16px;
		font-weight:bold;
	}
	th {
		cursor:pointer;
		background-color:lightgray;
	}
	code {
		font-size:14px;
	}
	.name {
		padding-left:10px;
		text-align:left;
	}
	.help {
		padding-left:10px;
		text-align:left;
	}
	.status {
		padding-left:10px;
		text-align:left;
	}
	.stream {
		padding-left:10px;
		text-align:left;
	}
	.result {
		background-color:black;
		color:white;
		padding:10px;
		margin:0px;
	}
</style>
</head>
<body>
{{end}}

{{define "cache"}}
<fieldset><legend>cache</legend>
	<table>
	<colgroup>{{range .append}}<col class="{{.}}">{{end}}</colgroup>
	<tr>{{range .append}}<th class="{{.}}" onclick="list('{{.}}')">{{.}}</th>{{end}}</tr>
	{{$l := index .append|len}}
	{{if gt $l 0}}
	{{$meta := .}} {{$first := index .append 0}}
	{{range $i, $k := index . $first}}
	<tr>
		{{range $key := index $meta "append"}}
			<td class="{{$key}}">
				<code>{{index $meta $key $i}}</code>
			</td>
		{{end}}
	</tr>
	{{end}}
	{{end}}
	</table>
</fieldset>
{{end}}

{{define "config"}}
<fieldset><legend>config</legend>
	<table>
	<colgroup>{{range .append}}<col class="{{.}}">{{end}}</colgroup>
	<tr>{{range .append}}<th class="{{.}}" onclick="list('{{.}}')">{{.}}</th>{{end}}</tr>
	{{$l := index .append|len}}
	{{if gt $l 0}}
	{{$meta := .}} {{$first := index .append 0}}
	{{range $i, $k := index . $first}}
	<tr>{{$config := index $meta "key" $i}}
		{{range $key := index $meta "append"}}
			{{if eq $key "input"}}
				<td class="{{$key}}">
					<input type="text" name="{{$config}}" onkeydown="return Config(event, '{{$config}}')">
					<code>{{index $meta $key $i}}</code>
				</td>
			{{else}}
				<td class="{{$key}}">
					<code>{{index $meta $key $i}}</code>
				</td>
			{{end}}
		{{end}}
	</tr>
	{{end}}
	{{end}}
	</table>
</fieldset>
{{end}}

{{define "command"}}
<fieldset><legend>command</legend>
	<table>
	<colgroup>{{range .append}}<col class="{{.}}">{{end}}</colgroup>
	<tr>{{range .append}}<th class="{{.}}" onclick="list('{{.}}')">{{.}}</th>{{end}}</tr>
	{{$l := index .append|len}}
	{{if gt $l 0}}
	{{$meta := .}} {{$first := index .append 0}}
	{{range $i, $k := index . $first}}
	<tr>{{$command := index $meta "key" $i}}
		{{range $key := index $meta "append"}}
			<td class="{{$key}}">
			{{if eq $key "input"}}
				<input type="text" name="{{$command}}" onkeydown="return Command(event, '{{$command}}')">
			{{else if eq $key "key"}}
				<code><a href="" onclick="return Direct(event, '{{$command}}')">{{index $meta $key $i}}</a></code>
			{{else}}
				<code>{{index $meta $key $i}}</code>
			{{end}}
			</td>
		{{end}}
	</tr>
	{{end}}
	{{end}}
	</table>
</fieldset>
<fieldset><legend><input id="direct" type="text" onkeydown="return Command(event)"></legend>
<pre class="result"><code id="result">
</code></pre>
</fieldset>
{{end}}

{{define "module"}}
<fieldset><legend><input type="text" id="module" value="{{index .current_module 0}}" onkeydown="return Change(event, 'module')"></legend>
	<table>
	<colgroup>{{range .append}}<col class="{{.}}">{{end}}</colgroup>
	<tr>{{range .append}}<th class="{{.}}" onclick="list('{{.}}')">{{.}}</th>{{end}}</tr>
	{{$l := index .append|len}}
	{{if gt $l 0}}
	{{$meta := .}} {{$first := index .append 0}}
	{{range $i, $k := index . $first}}
	<tr>
		{{range $key := index $meta "append"}}
			{{if eq $key "name"}}
				<td class="{{$key}}">
					<code><a href="" onclick="ctx.Search('module', '{{index $meta "module" $i}}'); return false">{{index $meta $key $i}}</a></code>
				</td>
			{{else}}
				<td class="{{$key}}">
					<code>{{index $meta $key $i}}</code>
				</td>
			{{end}}
		{{end}}
	</tr>
	{{end}}
	{{end}}
	</table>
</fieldset>
{{end}}

{{define "domain"}}
<fieldset><legend><input type="text" id="domain" value="{{index . "current_domain" 0}}" onkeydown="return Change(event, 'domain')"></legend>
	<table>
	<colgroup>{{range .append}}<col class="{{.}}">{{end}}</colgroup>
	<tr>{{range .append}}<th class="{{.}}" onclick="list('{{.}}')">{{.}}</th>{{end}}</tr>
	{{$l := index .append|len}}
	{{if gt $l 0}}
	{{$meta := .}} {{$first := index .append 0}}
	{{range $i, $k := index . $first}}
	<tr>
		{{range $key := index $meta "append"}}
			{{if eq $key "name"}}
				<td class="{{$key}}">
					<code><a href="" onclick="ctx.Search('domain', '{{index $meta "domain" $i}}'); return false">{{index $meta $key $i}}</a></code>
				</td>
			{{else}}
				<td class="{{$key}}">
					<code>{{index $meta $key $i}}</code>
				</td>
			{{end}}
		{{end}}
	</tr>
	{{end}}
	{{end}}
	</table>
</fieldset>
{{end}}

{{define "tail"}}
<script src="library/context.js"></script>
<script>
	function Refresh() {
		location.assign(location.href);
	}

	function Config(event, name) {
		if (event.keyCode == 13) {
			ctx.Conf(name, event.currentTarget.value, function(msg) {Refresh()});
		}
	}

	function Result(msg) {
		var result = document.getElementById("result");
		result.innerHTML = msg.result.join("");
	}

	function Command(event, name) {
		if (event.keyCode == 13) {
			var direct = document.getElementById("direct");
			if (name) {
				direct.value = name;
				ctx.Cmd(name, event.currentTarget.value, Result);
			} else {
				ctx.Cmd(event.currentTarget.value, "", Result);
			}
		}
	}

	function Direct(event, name, value) {
		console.log(event)
		if (!name) {
			name = event.currentTarget.value;
		}

		var direct = document.getElementById("direct");
		direct.value = name;
		ctx.Cmd(name, value, Result);
		return false;
	}

	function Input(event, cb, key) {
		if (event.keyCode == 13) {
			cb(key, event.target.value);
		}
	}

	function Change(event, key) {
		if (event.keyCode == 13) {
			ctx.Search(key, event.target.value);
		}
	}

	function list(what) {
		ctx.Cookie("list", what);
		ctx.Cookie("order", ctx.Cookie("order")*1 + 1);
		location.assign(location.href);
	}
	function show(name) {
		ctx.Cap(name, function(msg) {console.log(msg)});
	}
</script>
</body>
{{end}}

{{define "main"}}
{{$msg := .}}
{{$meta := .Meta}}
{{$sess := $msg.Sessions}}
{{range .Meta.tmpl}}
	{{if eq . "cache"}}
		{{template "cache" $sess.cache.Meta}}
	{{else if eq . "config"}}
		{{template "config" $sess.config.Meta}}
	{{else if eq . "command"}}
		{{template "command" $sess.command.Meta}}
	{{else if eq . "module"}}
		{{template "module" $sess.module.Meta}}
	{{else if eq . "domain"}}
		{{template "domain" $sess.domain.Meta}}
	{{end}}
{{end}}
{{end}}
